//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 27 20:39:53 2017
//! **************************************************************************

SCHEMATIC START;
COMP "O" LOCATE = SITE "P2" LEVEL 1;
SCHEMATIC END;

