//! **************************************************************************
// Written by: Map P.49d on Fri Nov 10 19:53:12 2017
//! **************************************************************************

SCHEMATIC START;
COMP "nibble<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "nibble<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "nibble<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "nibble<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "cathodes<0>" LOCATE = SITE "P25" LEVEL 1;
COMP "cathodes<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "cathodes<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "cathodes<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "cathodes<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "cathodes<5>" LOCATE = SITE "P17" LEVEL 1;
COMP "cathodes<6>" LOCATE = SITE "P83" LEVEL 1;
SCHEMATIC END;

