//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 26 08:39:49 2018
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

