//! **************************************************************************
// Written by: Map P.49d on Sat Jan 13 21:17:21 2018
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

