//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 15 18:40:27 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P54" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

